@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}
@font-face{
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face{
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face{
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
.container{
  padding: 0px;
  max-width: 1220px;
}
main{
  background: white;
  font-family: "Inter";
  font-size: 14px;
  line-height: 16.8px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.navgation-ui__link{
   font-family: "Inter";
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #223263;
}
.section-sign__wrap-input {
  position: relative;
}
.section-sign__wrap-input input{
  width: 100%;
  border: 1px solid #EBF0FF;
  border-radius: 5px;
  height: 52px;
  padding-left: 16px;
  color: #9098B1;
  font-size: 16px;
  line-height: 19.2px;
  outline: none;
}
.section-sign-signIn__title{
  color: #333333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  display: block;
  margin-bottom: 20px;
}
.btn-auth{
  display: flex;
  outline: none;
  border: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #40BFFF;
  color: white;
  font-weight: 700;
  padding: 16.5px 22.5px;

}
.auth-errors{
  position: absolute;
  left: 0px;
  top:0px;
  padding-left: 16px;
  color: red;
  font-size: 12px;
}

@media (max-width:768px){
  .section-sign-signIn__title{
    font-size: 16px;
    }
    .section-sign__wrap-input input{
        font-size: 12px;
        color: #9098B1;
        font-weight: 500;
    }
    .section-sign__wrap-input input::-webkit-input-placeholder{
        font-size: 12px;
        color: #9098B1;
        font-weight: 500;
    }
  

}